// _colors.map.scss

$zuku-colors: (
  black: hsla(23, 54%, 4%, 1),
  blackLight: hsla(23, 54%, 4%, 0.25),z
  navyDark: hsla(205, 69%, 9%, 1),
  navy: hsla(205, 31%, 25%, 1),
  navyLight: hsla(205, 31%, 25%, 0.4),
  navyVeryLight: hsla(205, 31%, 25%, 0.2),
  salmon: hsla(11, 100%, 92%, 1),
  salmonDark: hsla(11, 86%, 63%, 1),
  salmonVeryDark: hsla(11, 100%, 50%, 1),
  salmonLight: hsla(16, 100%, 89%, 0.5),
  lightCoral: hsla(16, 100%, 89%, 1),
//   skyBlue: hsla(197, 77%, 70%, 0.25), used for form select
  cream: hsla(25, 59%, 94%, 1),
  skyBlue: hsla(195, 76%, 84%, 1),
  skyBlueLight: hsla(195, 76%, 84%, 0.5),
  skylBlueVeryLight: hsla(195, 100%, 96%, 1),
  skyBlueZukuReview: hsla(197, 77%, 70%, 1),
  salmonDarkZukuCe: hsla(8, 100%, 78%, 1),
  tabBlue: hsl(203 33.9% 44.5%),
  error: hsla(11, 100%, 50%, 1),

);
